.navbar-container {
	background-color: white !important;
}

.nav-link {
	border-radius: 0 !important;
	color: #007bff !important;
	background-color: white !important;
}

.nav-link.active {
	color: white !important;
	background-color: #007bff !important;
}
